link(rel='stylesheet' href='/stylesheets/fixBar.css')

div#bar
  div#toHome
    a.icon.iconfont.icon-shangcheng7(href='/')
  div#allProduct 
    a(href='#') 全部商品
  div#shopCart 
    a(href='#') 购物车
  div#myOrder 
    a(href='#') 我的订单

