link(rel='stylesheet' href='/stylesheets/header.css')

div.header
  div.h-left
    img.h-logo(src='/images/logo.jpg')
    div.h-title May Queen
  div.h-right
    div.h-search.icon.iconfont.icon-sousuo 
    div.h-follow 关注
    div.h-divider |
    div.h-record 我的记录