doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/iconfont.css')
    meta(name='viewport', content='width=device-width,initial-scal3=1.0')
    meta(name='keyword', content='May Queen, Shop Online')
  body
    block content

    script(src='/javascripts/rem.js')
