.header {
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    background-color: #1E1D22;
    color: #9F9F9F;
    font-size: .28rem;
    display: flex;
    justify-content: space-between;
}

.h-left,
.h-right {
    display: flex;
}

.h-right {
    margin-right: .2rem;
    font-size: .26rem;
}

.h-logo {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin: .1rem .15rem 0 .2rem;
}

.h-search {
    font-size: 20px;
    margin-right: .12rem;
    position: relative;
    top: 1px;
}

.h-divider {
    margin: 0 .1rem;
}